name: CI

on:
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv and Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "{{cookiecutter.python_version}}"
          enable-cache: true
          cache-python: true

      - name: Install dependencies
        run: uv sync

      - name: Lint
        run: uv run ruff check .

      - name: Test
        run: uv run pytest

{%- if cookiecutter.use_ty %}
      - name: Type check
        run: uv run ty check
{%- endif %}
