name: PR Title

on:
  pull_request:
    branches: [main]
    types: [opened, reopened, edited, synchronize]

permissions:
  pull-requests: read

jobs:
  validate:
    runs-on: ubuntu-slim
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
